
.user-card{
 /* width: 90%;*/
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 19px 14px 5px 5px rgba(0,0,0,.3);
  overflow: hidden;
  position: relative;
  font-family: "Segoe UI";
  .user-card-header{
    background: #4183D7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  h4{
      margin: 0;
      padding: 15px 10px;
      color: #fff;
      text-align: center;
    }
  }
  .user-card-image{
    padding: 10px;
    background: rgba(235,151,78,.2);
    min-height: 148px;
    img{
      margin: 0 auto;
      border-radius: 10px;
      max-width: 128px;
      height: 128px;
      width: 100%;
    }
  }

  .user-card-info{
    background: #4183D7;
    color: #efefef;
    padding: 5px 10px;
    font-family: "Segoe UI";
    font-style: italic;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover{
    /*position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,.5);
    top:0;
    left: 0;
    bottom: 0;*/
    .user-card-overlay{
      transform: translateY(0);
      transition: transform .5s ease-in-out;
    }
  }

  .user-card-overlay{
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0;
    margin: initial;
    border-radius: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform .2s ease-in-out;
    z-index: 100;

    /*a{
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;
    }*/
    a{
      color: #fff;
      text-decoration: none;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      border: 2px solid #fff;
      padding: 2px;
      width: 70%;
      display: block;
      margin: auto;
      border-radius: 5px;
      font-style: italic;
    }
  }


}